.title{
    font-size: 21.86px;
    font-weight: bold;
    text-align: left;
}
.profile-text{
font-size: 16.1px;
font-weight:600;
text-align: left;
}
.subtitle{
    color: #545454;
    font-size: 11.45px;
    font-weight: 600;
    text-align: left;
}
.table-header{
    font-size: 23.76px;
    font-weight: 600;
    text-align: left;

}