.navbar {
    background-color: #7B61FF;
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top:0;
  }
  
  img {
    width: 50%;
    margin-top: 1rem;
  }
  
  .icons-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
  }
  