.mat-elevation-z16{
 
  max-width: 1220px;
  max-height: 840px;
  border-radius: 10px; 
  overflow: hidden;    
  min-width: 0% !important;
  box-shadow: none !important;
  background-color: white !important;
  margin:2rem;
  padding-bottom: 1rem;
}

.tableDesign{ 
  max-width: 1220px;
  max-height: 536px;
  border-radius: 10px; 
  overflow: hidden;    
  /* border: 1px solid #e0e0e0;  */
  margin: 20px 20px 5px 20px;
  min-width: 0% !important;
  

}

::ng-deep .mat-sort-header-arrow {
     background-image: url('/assets/sort.svg') !important;
     height: 8px;  
     width: 8px; 
     padding: 5px;
     opacity: 1 !important;
     transform: rotate(0deg) !important;
     background-repeat: no-repeat;
     background-size: contain;
     opacity: 0.8;
 
  }
  ::ng-deep .mat-sort-header-sorted .mat-sort-header-arrow {
    opacity: 0.8 !important;
  }
  ::ng-deep .mat-sort-header-arrow svg{
    display: none;
  }

  ::ng-deep .mat-mdc-cell{
    border-color:#E8E6E8 !important;
  }


  ::ng-deep .mat-mdc-header-row{
    font-family: Montserrat !important ;
  }

  ::ng-deep .mat-mdc-header-cell{

    border-bottom: none !important;

  }
  ::ng-deep .mat-mdc-row{
    font-family: Montserrat !important ;
  }

  ::ng-deep th{

    background-color: rgba(184, 170, 255, 0.5) !important;
    color: rgba(30, 30, 30, 0.6) !important;
  }

.center-text{
    text-align: center !important;
  }
  
  .stylegenerate{

    background-color: #7B61FF;
    /* padding: 15px 9px; */
    width:140px;
    height: 40px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

  }
  ::ng-deep .mat-mdc-outlined-button{
    border: none ;
    font-family: Montserrat !important;
    font-size: 13px;
    color: white !important;
  }
  ::ng-deep .mdc-button__label{
    padding-right: 0% !important;
  }

  ::ng-deep .mat-mdc-paginator-container{

    justify-content: space-between !important;
    max-width: 1130px;
    background-color: white !important;
   }
   
   ::ng-deep .mat-mdc-paginator{
 
     background-color: white !important;
     margin: 0 20px;
     padding: 0px;
    }

  
 
 /* ::ng-deep .mat-mdc-paginator-page-size{
  display: none !important;
 }
   */