.tableDesign{ 
  max-width: 1220px;
  max-height: 536px;
  border-radius: 10px; 
  overflow: hidden;    
  /* border: 1px solid #e0e0e0;  */
  margin: 20px 20px 5px 20px;
  background-color: white !important;
  min-width: 0% !important;

}

::ng-deep .mat-sort-header-arrow {
     background-image: url('/assets/sort.svg') !important;
     height: 8px;  
     width: 8px; 
     padding: 5px;
     opacity: 1 !important;
     transform: rotate(0deg) !important;
     background-repeat: no-repeat;
     background-size: contain;
     opacity: 0.8;
 
  }
  ::ng-deep .mat-sort-header-sorted .mat-sort-header-arrow {
    opacity: 0.8 !important;
  }
  ::ng-deep .mat-sort-header-arrow svg{
    display: none;
  }

  ::ng-deep .mat-mdc-cell{
    border-color:#E8E6E8 !important;
  }

  ::ng-deep .mat-mdc-header-row{
    font-family: Montserrat !important ;
  }
  ::ng-deep .mat-mdc-row{
    font-family: Montserrat !important ;
  }

  ::ng-deep th{

    background-color: rgba(184, 170, 255, 0.5) !important;
    color: rgba(30, 30, 30, 0.6) !important;
  }

.center-text{
    text-align: center !important;
  }
  

  ::ng-deep .mat-mdc-paginator-container{

    justify-content: space-between !important;
    max-width: 1040px;
    background-color: white !important;
   }
   
   ::ng-deep .mat-mdc-paginator{
 
     background-color: white !important;
     margin: 0 20px;
     padding: 0px;
    }
 
 
   .mat-elevation-z16{
 
     max-width: 1220px;
     max-height: 840px;
     border-radius: 10px; 
     overflow: hidden;    
     min-width: 0% !important;
 
   }