<!-- <p>table works!</p> -->
<div class="mat-elevation-z16 ">
<table mat-table [dataSource]="dataSource" matSort class='tableDesign'>
  
    <ng-container *ngFor="let column of columns">
      <ng-container [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>
            <div [mat-sort-header]="column.key" [disabled]="column.key === 'actions'"> {{ column.label }}</div>
         </th>
        <td mat-cell [ngClass]="{'center-text': column.key === 'openPositions'}" *matCellDef="let element">
            {{ column.key === 'actions' ? '' : element[column.key] }}
            <app-buttons *ngIf="column.key === 'actions' && element[column.key] ==='generate'" class="stylegenerate">Generate</app-buttons>
            <app-buttons *ngIf="column.key === 'actions' && element[column.key] ==='draft'" class="stylegenerate">Draft</app-buttons>

      </ng-container>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
<mat-paginator 
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="5" 
    [length]="content.length"
    showFirstLastButtons
    aria-label="Select page">
  </mat-paginator>
</div>