.notification-card {
    padding: 1rem !important;
    margin-bottom: 0.75rem;
}

.notification-title {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.date-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
}

.notification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}