<app-assign #assignBox [teamList]="teamList"   (memberSelected)="handleSelectedMember($event)"></app-assign>
<div (click)="onHostClick($event)">
  <app-button (functionemit)="openAssignPopoverForAdd()" class="right-align">
    Add New Recruiter Lead
  </app-button>
</div>
  <app-alerts #alerts></app-alerts>
<app-cards width="95%">
<div >
  <app-tree-table 
  [teamsDataSource]="teamsDataSource"
  [columns]="teamsColumns"
  [globalFilterFields]="teamsGlobalFilterFields"
  (openModal)="visible = $event"
  (removeAction)="removeSelectedMember($event)" 
  (changeLeadAction)="handleChangeLeadAction($event)"
  >
</app-tree-table>
  </div>

<app-modal
 [(visible)]="visible"
 header="Assigned Job Requisitions"
 [maximizable]="true"
 [style]="{ width: '72rem', height: '30rem' }"
>
<app-viewassignedjr-card></app-viewassignedjr-card>
</app-modal>
</app-cards>

