.filter-container{
    display: flex;
}.base{
    /* background-color: #E2E5EC; */
    min-height: 100%;
    /* padding-left: 6rem; */
    padding-top: 2rem;
}
.routing-heading-table-filter-container{
    background-color: white;
    border-radius: 7px;
    margin-left: 70px;
}