::ng-deep mat-form-field {
  margin: 1vw;
  border-radius: 20px;
  font-size: 16px;
}

::ng-deep .mat-mdc-select-arrow-wrapper {
  display: none !important;
}

::ng-deep mat-form-field-appearance-outline mat-form-field-outline {
  border-radius: 32px; /* or any value you prefer */
}