<div class="flex-row">
  <div class="child1">
    <app-header-text context="title"> Dashboard </app-header-text>
  </div>
  <div *ngIf="search" class="child1">
    <!-- <app-searchbar></app-searchbar> -->
  </div>
  <div class="flex-row2 child3">
    <!-- <app-icon name="notifications" customColor="#636363"></app-icon> -->
<div *ngIf="showNotifications" class="backdrop" (click)="showNotifications = false"></div>
    <div class="notification-wrapper" (click)="toggleNotifications($event)">
    <app-icon name="notifications" customColor="#636363"></app-icon>
    <span *ngIf="hasUnread" class="notification-dot"></span>

    <div class="notification-dropdown" *ngIf="showNotifications">
      <app-notificationbox
        [notifications]="notifications"
        (markRead)="markAllAsRead()"
      ></app-notificationbox>
    </div>
  </div>

    <!-- <app-profile-box [fullName]="name" [role]="role"></app-profile-box> -->

    <div class="profile-wrapper">
  <app-profile-box
    [fullName]="name"
    [role]="role"
    (click)="popover.toggle($event)">
  </app-profile-box>

  <p-popover #popover [dismissable]="true">
    <div class="logout-item" (click)="logout()">
      <!-- <i class="pi pi-sign-out" style="margin-right: 8px;"></i> -->
       <app-icon name="logout" customColor="#636363"></app-icon>
      Logout
    </div>
  </p-popover>

  </div>
</div>
