<app-common-layout>
  <app-cards class="custom-padding"> 
    <div class="admin-dashboard-header">
      <app-header-text context="table-header" [nopad]="true">Job Requisitions</app-header-text>
      <app-button-icon label="Upload JRs" icon="upload" (click)="openModal()"></app-button-icon>
    </div>
    <app-alerts #alerts></app-alerts>
    <app-table 
      [dataSource]="dataSource" 
      [columns]="columns" 
      [globalFilterFields]="globalFilterFields" 
      [hover]="false" 
      [rows]="7" 
      [showFilter]="true"
      [fontSize]="'12px'"
      [actionMethods]="actionMethods">
      
    </app-table>

    <app-modal 
      [(visible)]="visible" 
      header="Add Job Requisitions"
      [maximizable]="true" 
      [style]="{ width: '50rem', height: '35rem' }">
      
      <app-upload
        [title]="'Upload Job Requisitions'"
        (onClose)="closeModal()"
        (onFileUploaded)="onFilesUploaded($event)"
        (onUploadComplete)="onUploadComplete($event)">
      </app-upload>
      
    </app-modal>

  </app-cards>
</app-common-layout>
<app-alerts #alerts></app-alerts>
