<div class="table-filter">
    <div class="filter-container">
        <app-date-picker></app-date-picker>
        <div class="dropdownfilters-container">
            <app-dropdownfilter [placeholder]="'Select a Role'" [options]="['Developer', 'Tester', 'Manager']">
            </app-dropdownfilter>
            <app-dropdownfilter [placeholder]="'Select a Delivery Unit'" [options]="['DU1', 'DU2', 'DU3']">
            </app-dropdownfilter>
            <app-dropdownfilter [placeholder]="'Select a Location'" [options]="['Kochi', 'Trivandrum', 'Bangalore']">
            </app-dropdownfilter>
        </div>
    </div>
    <app-buttons>Clear All<app-icons appClass="absolute" name="clear" customColor="black"
            size="20px"></app-icons></app-buttons>
</div>