<div class="top">
    <div class="header">
        <app-header-text [nopad]="true" context="table-header">Software Developer - Backend (Python)</app-header-text>
    </div>

    <div class="buttonset">
      <app-button *ngIf="!isEditMode" (functionemit)="onEdit()">{{ label }}</app-button>
      <app-button *ngIf="isEditMode" (functionemit)="onSave()">Save</app-button>
      <app-button *ngIf="isEditMode" (functionemit)="onCancel()">Cancel</app-button>
      <app-button [disabled]="isEditMode" (functionemit)="onSubmit()">Submit</app-button>
      <app-button (functionemit)="modal()" [disabled]="isEditMode">Export</app-button>
    </div>
    
</div>
<app-modal [(visible)]="visible"
  [maximizable]="false"
  [showHeader]="true"
  header="Export Job Description"
  [style]="{ width: '38rem', height: '12rem' }">
  
  <p>Choose the format you want to export the Job Description in.</p>
  <div class="export-options">
   <app-button (functionemit)="exportAsPDF()" >PDF</app-button>
   <app-button (functionemit)="exportAsExcel()" >Excel</app-button>
   </div>
</app-modal>
<form class="form-section" id="jd-form">
  <!-- Basic Info -->
  <section class="section-wrapper">
    <h3 class="section-title">Basic Information</h3>
    <div class="three-column">

      <app-input-text
        label="Work Location"
        [value]="formData.workLocation"
        [fontWeight]="'600'">
      </app-input-text>
    
      <app-input-text
        label="Relevant Experience"
        [value]="`${formData.relevantExpYears} Years ${formData.relevantExpMonths} Months`"
        [fontWeight]="'600'">
      </app-input-text>
    
      <app-input-text
        label="Total Experience"
        [value]="`${formData.totalExpYears} Years ${formData.totalExpMonths} Months`"
        [fontWeight]="'600'">
      </app-input-text>
    </div>
    <div class="three-column">
      <app-input-text
        label="Qualification"
        [value]="formData.qualification"
        [fontWeight]="'600'"
        class="qualification">
      </app-input-text>

      <app-input-text
        label="Expected Onboarding Date"
        [value]="formData.onboardingDate"
        [fontWeight]="'600'">
      </app-input-text>
    </div>
  </section>

  <section class="section-wrapper">
    <h3 class="section-title">Skills</h3>
    <div class="three-column">
      <app-input-text
        label="Skills - Mandatory"
        [value]="formData.skillsMandatory"
        [fontWeight]="'600'">
      </app-input-text>

      <app-input-text
        label="Skills - Primary"
        [value]="formData.skillsPrimary"
        [fontWeight]="'600'">
      </app-input-text>

      <app-input-text
        label="Skills - Good To Have"
        [value]="formData.skillsGood"
        [fontWeight]="'600'">
      </app-input-text>
    </div>
  </section>

  <section class="section-wrapper">
    <h3 class="section-title">Job Details</h3>
    <div class="jdfields">
      <app-input-text
        label="Job Purpose "
        [value]="formData.jobPurpose"
        [disabled]="!isEditMode"
        [fontWeight]="'600'"
        [isTextarea]="true">
      </app-input-text>

      <app-input-text
        label="Job Description / Duties & Responsibilities"
        [value]="formData.jobDescription"
        [disabled]="!isEditMode"
        [fontWeight]="'600'"
        [isTextarea]="true">
      </app-input-text>
    

    <app-input-text
      label="Job Specification / Skills and Competencies"
      [value]="formData.jobSpecification"
      [disabled]="!isEditMode"
      [fontWeight]="'600'"
      [isTextarea]="true">
    </app-input-text>

    <app-input-text
      label="Any Additional Information/Specifics "
      [value]="formData.additionalInfo"
      [disabled]="!isEditMode"
      [fontWeight]="'600'"
      [isTextarea]="true">
    </app-input-text>
    </div>
  </section>

  <!-- Actions -->
  <!-- <div class="actions">
    <button type="button" class="reset-btn">Reset</button>
    <button type="button" class="draft-btn">Save Draft</button>
    <button type="submit" class="submit-btn">Submit</button>
  </div> -->
</form>
<app-alerts #alerts></app-alerts>
