.title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-left: 12vw;
  }
  
  .profile-text {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
  }
  
  .subtitle {
    color: #545454;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
  }
  
  .table-header {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding-left: 2.5vw;
  }
  .big-header{
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    padding-left: 2.5vw;
  }
  /* 📱 Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .title {
      font-size: 17px;
      padding-left: 6vw;
    }
  
    .profile-text {
      font-size: 13px;
    }
  
    .subtitle {
      font-size: 11px;
    }
  
    .table-header {
      font-size: 18px;
      padding-left: 4vw;
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 16px;
      padding-left: 4vw;
    }
  
    .profile-text {
      font-size: 12px;
    }
  
    .subtitle {
      font-size: 10px;
    }
  
    .table-header {
      font-size: 16px;
      padding-left: 2vw;
    }
  }
  