.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex-row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    gap:10px;
    padding-right: 3vw;
}
.child1{
    flex:2;
}
.child3{
    flex:2;
}